################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AulasVs/Aula60/.vs/Aula60/FileContentIndex
/AulasVs/Componentes/Componentes/.vs/Componentes/FileContentIndex
