################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AulasVs/Aula60/.vs/Aula60/FileContentIndex
/AulasVs/Componentes/Componentes/.vs/Componentes/FileContentIndex
/AulasVs/Componentes/.vs/Componentes/FileContentIndex
/AulasVs/EditorTexto/.vs/EditorTexto/FileContentIndex/676d5613-0bb8-499d-9f12-a0d21a4eca95.vsidx
/AulasVs/EditorTexto/.vs/EditorTexto/FileContentIndex
